@{
    ViewBag.Title = "Angular Demos";
}

<h2>Index</h2>

<div>
    <fieldset>
        <legend>Angularjs Demos</legend>
        <ul>
            <li>@Html.ActionLink("Basic Demo", "Basic")</li>
            <li>@Html.ActionLink("Display data array", "Demo1")</li>
            <li>@Html.ActionLink("Filtering An Array", "FilterDemo")</li>
            <li>Controllers
                <ul>
                    <li>@Html.ActionLink("Views, Controllers and Scope", "ScopeDemo")</li>
                    <li>@Html.ActionLink("Importance of Dot", "ControllerDemo1")</li>
                    <li>@Html.ActionLink("Sharing data between Controllers",
                    "ControllerDemo2")</li>
                </ul>
            </li>
            <li>Filters
                <ul>
                    <li>@Html.ActionLink("Filters", "FiltersDemo1")</li>
                    <li>@Html.ActionLink("ngFilter", "ngFilterDemo1")</li>
                </ul>
            </li>
            <li>Directives
                <ul>
                    <li>@Html.ActionLink("First Directive", "Directives1")</li>
                    <li>@Html.ActionLink("Directive Restrictions", "Directives2")</li>
                    <li>@Html.ActionLink("Basic Behavior", "Directives3")</li>
                    <li>@Html.ActionLink("Useful Behavior", "Directives4")</li>
                    <li>@Html.ActionLink("Directives Talking to Controllers", "Directives5")</li>
                    <li>@Html.ActionLink("Directive to Directive Communication", "Directives6")</li>
                    <li>@Html.ActionLink("Directive to Directive Communication - External Directive", "Directives7")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Modules", "ModulesDemo")</li>
            <li>@Html.ActionLink("Routes", "RoutesDemo")</li>
            <li>@Html.ActionLink("Factories", "FactoryDemo")</li>
        </ul>
    </fieldset>
</div>
