@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<fieldset>
    <legend>Working with the DOM</legend>
    <ul>
        <li>@Html.ActionLink("DOMObject1 1", "DOMObject1")</li>
        <li>@Html.ActionLink("Cookies", "Cookies")</li>
        <li>@Html.ActionLink("DOMImplementation", "DOMImplementation")</li>
        <li>@Html.ActionLink("Named Element", "NamedElement")</li>
        <li>@Html.ActionLink("Navigating DOM Tree", "NavigatingDOMTree")</li>
    </ul>
</fieldset>
<fieldset>
    <legend>Working with Events</legend>
    <ul>
        <li>@Html.ActionLink("Events - Simple Event Inline Handling", "EventsSimpleInline")</li>
        <li>@Html.ActionLink("Events - Simple Event Handling Function", "EventsSimpleFunction")</li>
        <li>@Html.ActionLink("Event Flow - Capture Phase", "EventFlowCapture")</li>
        <li>@Html.ActionLink("MouseEvents", "MouseEvents")</li>
        <li>@Html.ActionLink("Navigating Browsing History", "BrowsingHistory")</li>
    </ul>
</fieldset>

<fieldset>
    <legend>Working with DOM Elements/Styles</legend>
    <ul>
        <li>@Html.ActionLink("Working With Timer", "Timer")</li>
        <li>@Html.ActionLink("Working With Classes", "Classes")</li>
        <li>@Html.ActionLink("Working With Convenience Properties", "ConvenienceProperties")</li>
        <li>@Html.ActionLink("Working With Regular Properties", "RegularProperties")</li>
    </ul>
</fieldset>
